<link rel="stylesheet" href="../public/css/style.css">
<h1>Users_list</h1>
<body>
<%- include ('./bloks/header.ejs') %>
<div>
    <% users.forEach(user => { %>
    <div class="user_item">
        <div class="user_list"> Username: <%=user.userName %> | </div>
        <div class="user_list"> Firstname: <%=user.firstName %>| </div>
        <div class="user_list"> Lastname: <%=user.lastName %>| </div>
        <div class="user_list"> Age: <%=user.age %>| </div>
        <div class="user_list"> Married: <%=user.married %> </div>
    </div>
    <% }) %>
</div>
</body>
